body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#questions-container, #student-questions-container {
    margin-top: 20px;
}

.question {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
